.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 25px 0;
  box-sizing: border-box;
}

.pageContent {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  border-radius: 14px;
  padding: 25px;
  background-color: #efefef;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  height: fit-content; /* Убедитесь, что высота адаптируется содержимому */
  @media screen and (max-width: 1024px) {
    width: 80%;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
}
